<%- include("partials/_header") %>
<body>
    <%- include("partials/_navbar") %>
    <main>
        <%- include("partials/_left-side") %>
        <section>
            <%- include("partials/_blog-card") %>
        </section>
        <%- include("partials/_right-side") %>
    </main>
    <%- include("partials/_footer") %>
</body>
</html>